<footer class="footer">
	<div class="container footer-content">
		<ul class="list">
			<li><h4>Products:</h4></li>
			<li>GraphQL API</li>
			<li>Oauth 2.0</li>
			<li>Blockchains</li>
			<li>API Client</li>
			<br>
			<br>
			<p class="text-white cc">Copyright 2020, all rights reserved.</p>
		</ul>
		<ul class="list">
			<li><h4>Get Started:</h4></li>
			<li>Documentation</li>
			<li>Ask for Help</li>
			<li>Technical Support</li>
			<li>FAQ</li>
		</ul>
		<ul class="list">
			<div class="subscribe-to-newsletter">
				<p class="text-white text-left"><h4>Subscribe to our newsletter</h4></p>
				<input type="text" class="form-control my-2" placeholder="Enter your email">
				<button style="width:100%;" class="btn btn-primary">Subscribe</button>
				<br>
				<br>
				<p class="text-white cc-rd">Copyright 2020, all rights reserved.</p>
			</div>
		</ul>
		
	</div>
</footer>