<header class="header navbar">
	<div class="container">
		
		<p class="brand logo">
			<a href="/" 
			   class="logo-item"
			   style="color:black;padding: 2px 12px 2px 12px">
				SECURE <v style="color: red;">.NET</v>
			</a>
		</p>
		
		<ul class="list">
			<li class="list-item"><a class="list-link" href="/blog">Blog</a></li>
			<li class="list-item"><a class="list-link" href="/pricing">Pricing</li>
			<li class="list-item dropdown"><a class="list-link" href="">Products</a></li>
			<li class="list-item"><a class="list-link" href="/login">Log in</a></li>
			<li class="list-item"><a class="list-link" href="/signup">Sign in</a></li>
			<!-- <li class="list-item"><a class="list-link" href="/404">404</a></li> -->
		</ul>
		<i  class="fas fa-bars text-right menu-icon"></i>
	</div>
</header>
<div class="products shadow">
	<ul class="list">
		<li class="list-item"><h4>Products:<h4></li>
		<li class="list-item">GraphQL API</li>
		<li class="list-item">Oauth 2.0</li>
		<li class="list-item">Blockchains</li>
		<li class="list-item">API Client</li>
		<li class="list-item">Serverless</li>
		<li class="list-item">Desktop app</li>
	</ul>
	<ul class="list">
		<li class="list-item"><h4>Get Started:<h4></li>
		<li class="list-item">Documentation</li>
		<li class="list-item">Ask for Help</li>
		<li class="list-item">Technical Support</li>
		<li class="list-item">FAQ</li>
	</ul>
	<ul class="list">
		<li class="list-item"><h4>Pricing:<h4></li>
		<li class="list-item">Entreprise</li>
		<li class="list-item">Student</li>
		<li class="list-item">Pro</li>
	</ul>
</div>
<div class="sidebar">
	<ul class="list">
		<li class=""><a class="text-white" href="/blog">Blog</a></li>
		<li class=""><a class="text-white" href="/pricing">Pricing</li>
		<!-- <li class=" dropdown">Products</li> -->
		<li class=""><a class="text-white" href="/login">Log in</a></li>
		<li class=""><a class="text-white" href="/signup">Sign up</a></li>
	</ul>
</div>
<style>
	.sidebar {
		width: 200px;
		position: fixed;
		/*position: absolute;*/
		margin-right: -200px;
		background-color: var(--primary);
		height: 100vh;
		border-left: .4px solid rgba(0,0,0,.30) !important;
		z-index: 888;
		transition: all .2s ease-out;
	}
	.sidebar .list {
		margin:100px 0 0 20px;
		list-style: none;
	}
	.list-item {
		padding-top:10px;
		font-size: 13px;
		cursor: pointer;

	}
	.logo-item:hover {
		text-decoration: none;
	}
</style>