<!DOCTYPE html>
<html>
<head>
	<title>Secure net & Blog page</title>
	<%- include('../partials/head') %>
</head>
<body style="background-color: var(--light)">
	<%- include('../partials/header') %>
	<div class="for-o-for container">
		<center>
			<img class="for-o-for-svg" src=".././assets/undraw_page_not_found_su7k.svg">
		</center>
		<p class="text-center for-o-for-title">Might be you asked for a wrong page or something else!</p>
	</div>
	<%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>