<!DOCTYPE html>
<html>
<head>
	<title>Secure net & Blog page</title>
	<%- include('../partials/head') %>
</head>
<body style="background-color: var(--light)">
	<%- include('../partials/header') %>
	<section class="container blog-area">
		<h1 class="text-left">Latest posts:</h1>
		<p class="text-left">Check the posts on our blog! There are 6 of them to read.</p>
		<div class="blogs">
			<div class="card blog p-4 shadow">
				<h5>10 Things i wish i knew when i started!</h5>
				<i>by MouadTaoussi at 20/10/2020</i>
				<img src=".././assets/black-lighted-gaming-keyboard-841228.jpg" class="blog-img">
				<p class="text-left">Lorem Ipsum，也称乱数假文或者哑元文本， 是印刷及排版领域所常用的虚拟文字。由于曾经一台匿名的打印机刻意打乱了一盒印刷字体从而造出一本字体样品书，</p>
			</div>
			<div class="card blog p-4 shadow">
				<h5>10 Things i wish i knew when i started!</h5>
				<i>by MouadTaoussi at 20/10/2020</i>
				<img src=".././assets/abstract-bright-color-dark-397998.jpg" class="blog-img">
				<p class="text-left">Lorem Ipsum，也称乱数假文或者哑元文本， 是印刷及排版领域所常用的虚拟文字。由于曾经一台匿名的打印机刻意打乱了一盒印刷字体从而造出一本字体样品书，</p>
			</div>
			<div class="card blog p-4 shadow">
				<h5>10 Things i wish i knew when i started!</h5>
				<i>by MouadTaoussi at 20/10/2020</i>
				<img src=".././assets/backgroundImage.jpg" class="blog-img">
				<p class="text-left">Lorem Ipsum，也称乱数假文或者哑元文本， 是印刷及排版领域所常用的虚拟文字。由于曾经一台匿名的打印机刻意打乱了一盒印刷字体从而造出一本字体样品书，</p>
			</div>
			<div class="card blog p-4 shadow">
				<h5>10 Things i wish i knew when i started!</h5>
				<i>by MouadTaoussi at 20/10/2020</i>
				<img src=".././assets/closeup-photo-of-black-and-blue-keyboard-1194713.jpg" class="blog-img">
				<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="card blog p-4 shadow">
				<h5>10 Things i wish i knew when i started!</h5>
				<i>by MouadTaoussi at 20/10/2020</i>
				<img src=".././assets/black-lighted-gaming-keyboard-841228.jpg" class="blog-img">
				<p class="text-left">Lorem Ipsum，也称乱数假文或者哑元文本， 是印刷及排版领域所常用的虚拟文字。由于曾经一台匿名的打印机刻意打乱了一盒印刷字体从而造出一本字体样品书，</p>
			</div>
			<div class="card blog p-4 shadow">
				<h5>10 Things i wish i knew when i started!</h5>
				<i>by MouadTaoussi at 20/10/2020</i>
				<img src=".././assets/person-pointing-numeric-print-1342460.jpg" class="blog-img">
				<p class="text-left">Lorem Ipsum，也称乱数假文或者哑元文本， 是印刷及排版领域所常用的虚拟文字。由于曾经一台匿名的打印机刻意打乱了一盒印刷字体从而造出一本字体样品书，</p>
			</div>
		</div>
	</section>
	<%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>