<!DOCTYPE html>
<html>
<head>
	<title>Secure net & Home page</title>
	<%- include('../partials/head') %>
</head>
<body>
	<%- include('../partials/header') %>
	<section class="landing-page">
		<p class="main-title">Your next version is Here!</p>
		<div class="btns">
			<center>
				<a href="#" class="btn btn-lg btn-free-version">Free version</a>
				<a href="#" class="btn btn-lg btn-paid-version">Buy it (99.99$)</a>
			</center>
		</div>
	</section>
	<section class="second-screen">
		<p class="main-title">What we could offer to you?</p>
		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
		<div class="cards row justify-content-center m-2">
			<div style='border:0;' class="col-md-3 m-2 p-4 card card-1">
				<i class="card-icon fas fa-cogs"></i>
				<br>
				<h3 class='card-title'>Techniqual Settings</h3>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				</p>
				<button class="card-btn btn">Learn more</button>
			</div>
			<div style='border:0;' class="col-md-3 m-2 p-4 card card-2">
				<i class="card-icon fas fa-user-secret"></i>
				<br>
				<h3 class='card-title'>High Security</h3>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
				</p>
				<button class="card-btn btn">Learn more</button>
			</div>
			<div style='border:0;' class="col-md-3 m-2 p-4 card card-3">
				<i class="card-icon fas fa-network-wired"></i>
				<br>
				<h3 class='card-title'>Shared Data</h3>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				</p>
				<button class="card-btn btn">Learn more</button>
			</div>
		</div>
	</section>
	<section class="third-screen">
		<p class="main-title">What clients said about us?</p>
		<p class="text-center second-title text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
		<div class="row m-2 justify-content-center">
			<div class="col-md-5 m-2">
				<blockquote class="twitter-tweet"><p lang="en" dir="ltr">When I started freelancing, I was a complete noob. I learned along the way. If you wait until you feel completely ready, you&#39;ll be waiting forever.<br><br>Don&#39;t overthink it. Take on that first client and give it your all.</p>&mdash; Brad Traversy (@traversymedia) <a href="https://twitter.com/traversymedia/status/1269321693018886147?ref_src=twsrc%5Etfw">June 6, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="col-md-5 m-2">
				<blockquote class="twitter-tweet"><p lang="en" dir="ltr">If anyone talks down to you for using JS, PHP, Rails or anything else, ignore them. We have different experiences, clients and projects. <br><br>When they say &quot;Don&#39;t use it because It sucks&quot;, What most are really saying is &quot;It never worked out for me, so I trash it every chance I get&quot;</p>&mdash; Brad Traversy (@traversymedia) <a href="https://twitter.com/traversymedia/status/1262352944697090051?ref_src=twsrc%5Etfw">May 18, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<center>
			<a href="#" class="text-white">See more</a>
		</center>
	</section>
	<section class="fourth-screen">
		<p class="main-title">Also we could provide!</p>
		<p class="text-center second-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<div class="services container">
			<div class="service">
				<img src="https://assets.ubuntu.com/v1/1db850da-K8s+logo.svg" class="kbt-logo">
				<div>
					<h2 class="text-left text-white">Watch our Kubernetes webinars ›</h2>
					<h6 class="text-left text-white">
						A series of on-demand webinars to learn more about Charmed Kubernetes.
					</h6>
				</div>
			</div>
			<div class="service-1">
				<img src="https://assets.ubuntu.com/v1/c8efedd7-OpenStack_Logo_white.svg" class="opnstk-logo">
				<div>
					<h2 class="text-left text-white">OpenStack costs increasing? ›</h2>
					<h6 class="text-left text-white">
						Learn how outsourcing OpenStack operations can accelerate the private cloud deployment process and help to bring costs down.
					</h6>
				</div>
			</div>
		</div>
	</section>
	<section class="sixth-screen">
		<div class="contact-component">
			<p class="contact-component-title">Contact</p>
			<p class="contact-component-text">
				You can contact us now and tell us your thoughts about our serveices!
			</p>
			<input 
				type="email" 
				name="email" 
				class="contact-component-inputs" 
				placeholder="Enter your email"><br>
			<input 
				type="text" 
				name="name"
				class="contact-component-inputs" 
				placeholder="Enter your name"><br>
			<textarea
				type="text" 
				name="text" 
				class="contact-component-inputs text-area"
				placeholder="What you want to say?"></textarea><br>
			<input 
				type="submit" 
				class="contact-component-btn btn btn-md" 
				value="Send">
		</div>
	</section>
	<section class="fifth-screen">
		<p class="main-title">Here is some of our customers!</p>
		<p class="text-center second-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<div class="grid-logos">
			<img width="200" height="50" src="assets/freelancer_logo.png" alt="logo of freelancer">
			<img width="200" height="50" src="https://upload.wikimedia.org/wikipedia/commons/8/80/LinkedIn_Logo_2013.svg" alt="logo of linkedin">
			<img width="180" height="50" src="assets/linux_foundation_logo.png" alt="logo of linux foundation">
			<img width="200" height="50" src="https://upload.wikimedia.org/wikipedia/commons/9/96/Microsoft_logo_%282012%29.svg" alt="logo of microsoft">
			<img width="200" height="50" src="https://upload.wikimedia.org/wikipedia/commons/9/93/MongoDB_Logo.svg" alt="logo of mongodb">
			<img width="200" height="50" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Twitter_logo.svg" alt="logo of twitter">
			<img width="160" height="50" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Logo_di_Heroku.png" alt="logo of heroku">
			<img width="200" height="50" src="https://upload.wikimedia.org/wikipedia/commons/7/74/Redis-labs-logoRGB.png" alt="logo of redis labs">
			<img width="200" height="50" src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Nginx_logo.svg" alt="logo of nginx">
			<img width="170" height="50" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Node.js_logo_2015.svg" alt="logo of node.js">
			<img width="270" height="50" src="https://upload.wikimedia.org/wikipedia/commons/7/79/DigitalOcean_logo.png" alt="logo of digital ocean">
			<img width="200" height="50" src="https://upload.wikimedia.org/wikipedia/commons/9/93/UdemyLogo.svg" alt="logo of udemy">
		</div>
	</section>
	<%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>