<!DOCTYPE html>
<html>
<head>
	<title>Log in</title>
	<%- include('../partials/head') %>
<html>
<head>
	<title>Log in</title>
	<link rel="stylesheet" type="text/css" href=".././css/style.css">
</head>
<body>
	<section class='login-area'>
		<section class="login-component">
			<p class="login-component-title">Log in</p>
			<p class="login-component-text">
				Log in to your account require to enter your email and password
			</p>
			<input 
				type="email" 
				name="email" 
				class="login-component-inputs" 
				placeholder="Enter your email or phone number"><br>
			<input 
				type="password" 
				name="password" 
				class="login-component-inputs"
				placeholder="Enter your password"><br>
			<a 
				class="login-component-links left-link" 
				href="#">Forgot your password?</a>
			<a 
				class="login-component-links right-link" 
				href="signin.html">Create new account</a><br>
			<input 
				type="submit" 
				class="login-component-btn btn btn-md" 
				value="Log in">
		</section>
	</section>
</body>
<%- include('../partials/scripts') %>
</html>
