<!DOCTYPE html>
<html>
<head>
	<title>Secure net & Pricing</title>
	<%- include('../partials/head') %>
</head>
<body style="background-color: var(--light)">
	<%- include('../partials/header') %>
	<br>
	<br>
	<br>
	<div class="pricing-page">
		<h1 class="text-center text-white">All of our plans are great for you!</h1>
		<p class="text-center text-white">You can cancel the subscription whenever you want as well as upgrade it or downgrade it!</p>
	</div>
	<div class="container pricing-area">
		<div class='card pricing-card p-4 shadow'>
			<h4 class="text-center">Basic</h4>
			<div class="card-body">
				<ul class='card-list text-left'>
					<li class="card-list-item">500GB Cloud space</li>
					<li class="card-list-item">200MB bandwidth</li>
					<li class="card-list-item">Monthly Upgrades</li>
					<li class="card-list-item disabled">Encrypted connection</li>
					<li class="card-list-item disabled">24/24h support</li>
					<li class="card-list-item disabled">Life-time access</li>
				</ul>
			</div>
			<button class="btn card-btn-pricing">Free</button>
		</div>

		<div class='card pricing-card p-4 shadow featured-plan'>
			<h4 class="text-center">Pro</h4>
			<div class="card-body">
				<ul class='card-list text-left'>
					<li class="card-list-item">1000GB/1TB Cloud space</li>
					<li class="card-list-item">500MB bandwidth</li>
					<li class="card-list-item">Monthly Upgrades</li>
					<li class="card-list-item">Encrypted connection</li>
					<li class="card-list-item disabled">24/24h support</li>
					<li class="card-list-item disabled">Life-time access</li>
				</ul>
			</div>
			<button class="btn card-btn-pricing">15$</button>
		</div>

		<div class='card pricing-card p-4 shadow'>
			<h4 class="text-center">Enterprise</h4>
			<div class="card-body">
				<ul class='card-list text-left'>
					<li class="card-list-item">1500GB/1.5TB Cloud space</li>
					<li class="card-list-item">700MB bandwidth</li>
					<li class="card-list-item">Monthly Upgrades</li>
					<li class="card-list-item">Encrypted connection</li>
					<li class="card-list-item">24/24h support</li>
					<li class="card-list-item">Life-time access</li>
				</ul>
			</div>
			<button class="btn card-btn-pricing">22$</button>
		</div>
	</div>
	<div class="container pricing-testimonials-area">
		<h2 class="text-center">Over 40,000 Developers Have Used SecureNet.</h2>
		<p class="second-title text-center">Here are some of their success stories.</p>
		<div class="pricing-testimonials">
			<div class="shadow pricing-testimonial">
				<img src="./assets/mouadTaoussi.jpg" class="testimonial-avatar">
				<p class="pricing-testimonial-user-name text-center">MouadTaoussi-Software developer</p>
				<div class="pricing-testimonial-content">
					<img class="pricing-testimonial-brand" width="120" height="28" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="logo of google">
					<p class="text-center text-dark">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
				</div>
			</div>
			<div class="shadow pricing-testimonial">
				<img src="./assets/mouadTaoussi.jpg" class="testimonial-avatar">
				<p class="pricing-testimonial-user-name text-center">MouadTaoussi-Software developer</p>
				<div class="pricing-testimonial-content">
					<img class="pricing-testimonial-brand" width="120" height="28" src="https://upload.wikimedia.org/wikipedia/commons/8/80/LinkedIn_Logo_2013.svg" alt="logo of linkedin">
					<p class="text-center text-dark">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
				</div>
			</div>
			<div class="shadow pricing-testimonial">
				<img src="./assets/mouadTaoussi.jpg" class="testimonial-avatar">
				<p class="pricing-testimonial-user-name text-center">MouadTaoussi-Software developer</p>
				<div class="pricing-testimonial-content">
					<img class="pricing-testimonial-brand" width="120" height="28" src="https://upload.wikimedia.org/wikipedia/commons/8/80/LinkedIn_Logo_2013.svg" alt="logo of linkedin">
					<p class="text-center text-dark">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>