<!DOCTYPE html>
<html>
<head>
	<title>Secure net & Pricing</title>
	<%- include('../partials/head') %>
</head>
<body>
	<%- include('../partials/header') %>
	<div class="container pricing-area">
		<div class='card pricing-card p-4'>
			<h4 class="text-center">Basic</h4>
			<div class="card-body">
				<ul class='card-list text-left'>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item disabled">Hello World</li>
					<li class="card-list-item disabled">Hello World</li>
					<li class="card-list-item disabled">Hello World</li>
				</ul>
			</div>
			<button class="btn card-btn-pricing">Free</button>
		</div>

		<div class='card pricing-card p-4'>
			<h4 class="text-center">Pro</h4>
			<div class="card-body">
				<ul class='card-list text-left'>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item disabled">Hello World</li>
				</ul>
			</div>
			<button class="btn card-btn-pricing">55.78$</button>
		</div>

		<div class='card pricing-card p-4'>
			<h4 class="text-center">Enterprise</h4>
			<div class="card-body">
				<ul class='card-list text-left'>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
					<li class="card-list-item">Hello World</li>
				</ul>
			</div>
			<button class="btn card-btn-pricing">999$</button>
		</div>

	</div>
	<%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>