<!DOCTYPE html>
<html>
<head>
	<title>Secure net & Pricing</title>
	<%- include('../partials/head') %>
</head>
<body>
	<%- include('../partials/header') %>
	<br>
	<br>
	<br>
	<div class="container pricing-area">
		<div class='card pricing-card p-4'>
			<h4 class="text-center">Basic</h4>
			<div class="card-body">
				<ul class='card-list text-left'>
					<li class="card-list-item">500GB Cloud space</li>
					<li class="card-list-item">200MB bandwidth</li>
					<li class="card-list-item">Monthly Upgrades</li>
					<li class="card-list-item disabled">Encrypted connection</li>
					<li class="card-list-item disabled">24/24h support</li>
					<li class="card-list-item disabled">Life-time access</li>
				</ul>
			</div>
			<button class="btn card-btn-pricing">Free</button>
		</div>

		<div class='card pricing-card p-4 featured-plan'>
			<h4 class="text-center">Pro</h4>
			<div class="card-body">
				<ul class='card-list text-left'>
					<li class="card-list-item">1000GB/1TB Cloud space</li>
					<li class="card-list-item">500MB bandwidth</li>
					<li class="card-list-item">Monthly Upgrades</li>
					<li class="card-list-item">Encrypted connection</li>
					<li class="card-list-item disabled">24/24h support</li>
					<li class="card-list-item disabled">Life-time access</li>
				</ul>
			</div>
			<button class="btn card-btn-pricing">15$</button>
		</div>

		<div class='card pricing-card p-4'>
			<h4 class="text-center">Enterprise</h4>
			<div class="card-body">
				<ul class='card-list text-left'>
					<li class="card-list-item">1500GB/1.5TB Cloud space</li>
					<li class="card-list-item">700MB bandwidth</li>
					<li class="card-list-item">Monthly Upgrades</li>
					<li class="card-list-item">Encrypted connection</li>
					<li class="card-list-item">24/24h support</li>
					<li class="card-list-item">Life-time access</li>
				</ul>
			</div>
			<button class="btn card-btn-pricing">22$</button>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<%- include('../partials/footer') %>
</body>
<%- include('../partials/scripts') %>
</html>